@{
    ViewData["Title"] = "Development Project";
}

<div class="text-center">
    <h3>Welcome! Thanks for giving me this opportunity to present this development project.</h3>
    <p>
        There are 3 main pages: (a) Insurance, (b) Occupation Rating and (c) Rating Factor. 
        "Insurance" page is for the calculator.
        "Occupation Rating" and "Rating Factor" pages are
        to maintain the data to be used on the calculator on "Insurance" page.
    </p>
    <p>Download the project <a href="https://github.com/cre8t0r/DevProj">here</a>.</p>
</div>
