@{
    ViewData["Title"] = "Development Project";
}

<div class="text-center">
    <h3>Welcome! Thanks for giving me this opportunity to present this development project.</h3>
    <p>
        There are 3 main pages: (a) Calculator, (b) Occupation Rating and (c) Rating Factor.
        "Calculator" page is for the calculating Total Value using the formular provided ((Sum Insured * Occupation Rating Factor) / (100 * 12 * Age)).
        "Occupation Rating" and "Rating Factor" pages are
        to maintain the data to be used on the calculator on "Insurance" page.
    </p>
    <p>Download the project <a href="https://github.com/cre8t0r/DevProj">here</a>.</p>
</div>
